body{
    font-family: Arial;
    background: #100c50;
    width: 100%;
}
h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    
    }
    table{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
   
    width: 90%;
    border: 1px solid #444;
    }
    td,
    th{
    border: 1px solid #444;
   
    padding-right: 4px;
    text-align: center;
    }
    .left {
        text-align: right;
    }
    span{
        font-size: 20px;
        color: black;
        font-weight: 500;
        
    }
    .headname{
        text-align: center;
        width: 100%;
        background-color: #100c50;
        color:white;
        height: 100px;
        margin-top:-20px;
        margin-left: -10px;
        padding-right: 17px;
    }
    .heed span{
        margin-top: 20px;
        margin-left: 50px;
        line-height: 40px;
        font-family: arial;
        font-weight: 700;
        color:#100c50;

    }
    .margin{
        height: 650px;
        width: 1480px;
        background: #fff;
        margin-left:-10px;
        border-radius: 10px;
    }
    .tab{
        display:flex;
        justify-content: center;
        align-items: center;
    }
    .but input{
        float: right;
        right:100px;
        margin-left:50px;
        height:40px;
        width:80px;
        border-radius: 8px;
    }
    .but .sub-btn{
        margin-right: 80px;
        background: #4caf50;
        color:#fff;
        font-family: arial;
        font-weight: 500;
        border-color: #fff;
        cursor: pointer;
    }
    .but .can-btn{
        background: #ff0202;
        color: #fff;
        font-family: arial;
        font-weight: 500;
        border-color: #fff;
        cursor: pointer;

    }