*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
input:invalid{
    outline: 2px solid red;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: azure;
}

.container{
    width: 750px;
    height: 500px;
    border: 1px solid;
    background-color: white;
    display: flex;
    flex-direction: column;
    padding: 40px;
    justify-content:space-around;
}

.container h1{
    text-align: center;
}

.first-row{
     display: flex;
}

.owner{
    width: 100%;
    margin-right: 40px;
}

.input-field{
    border: 1px solid #999;
}

.input-field input{
    width: 100%;
    border:none;
    outline: none;
    padding: 10px;
}

.selection{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.selection select{
    padding: 10px 20px;
}

.control input{
    width: 100%;
    display: block;
    padding: 10px;
    color: #222;
    outline: none;
    margin: 1em 0;
    border: solid 1.5px;
    border-radius: 2rem; 
}
.control input[type="submit"]{
    background: #0082e6;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    opacity: .7;
    transition: opacity .3s ease;
}
.control input[type="submit"]:hover{
    opacity: 1;
}
.input-group {
    position: relative;
}
.input {
    border: solid 1.5px #9e9e9e;
    border-radius: 2rem;
    background: none;
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    color: #f5f5f5;
    transition: border 150ms cubic-bezier(0.4,0,0.2,1);
}
.user-label {
    position: absolute;
    left: 30px;
    color: #e8e8e8;
    pointer-events: none;
    transform: translateY(1rem);
    transition: 150ms cubic-bezier(0.4,0,0.2,1);
}
.input:focus, input:valid {
    outline: none;
    
}
 .input:focus ~ label, input:valid ~ label {
    transform: translateY(-50%) scale(0.9);
    background-color: #2196f3;
    padding: 0 .6em;
    color: #f8fafb;
    border: solid 1.5px ;
    border-radius: 2rem;
} 

.cards img{
    width: 100px;
}